/* index.css */
@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at bottom,
    #0a0a0f 0%,
    #050508 40%,
    #000000 100%
  );
  color: white;
}
